html, body{
  width: 100%;
  overflow-y: auto;
}

.material-icons{
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.colunaCentro{
  margin:auto;
}
.colunaCentro::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.labelItens{
  font-size: 18px;
  position: relative;
  top: 20px;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

@media (max-width:450px) {
  .demo-card-wide.mdl-card {
    width: 350px;
  }
  .mdl-grid{
    padding: 0px;
    margin-left: -10px;
  }
}

.mdl-textfield.is-invalid .mdl-textfield__input{
  border-color: rgb(96,125,139);
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label{
  color: rgb(96,125,139);
}
#codigoGerado{
  float: right;
  color: #FBC02D;
  margin-top: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}

#backHome{
  text-decoration: none;
  color: white;
  margin-top: -15px;
}

#mudarSenha{
  visibility: hidden;
  display: none;
}
