html, body{
  width: 100%;
}

.material-icons{
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.colunaCentro{
  margin:auto;
}
.colunaCentro::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#inputData, #inputHora{
  width: 35%;
}
#iconHora{
  margin-left: 15px;
}
.labelItens{
  font-size: 18px;
  position: relative;
  top: 20px;
}
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

@media (max-width:550px) {
  .demo-card-wide.mdl-card {
    width: 100%;
  }
  #inputData, #inputHora{
    width: 80%;
  }
  #iconHora{
    margin-left: 0px;
  }
}
@media (max-width:450px) {
  .demo-card-wide.mdl-card {
    width: 350px;
  }
  .mdl-grid{
    padding: 0px;
    margin-left: -10px;
  }
}
