<h1>Ola {{nome}}</h1>

<h4>Para concluir o processo de redefinição de senha, por favor clique no link abaixo ou cole o link no seu navegador:
    <br> http://localhost/amigosDaRua/app_dev.php/change/{{criptografia}} </h4>