{# empty Twig template #}
<h1>Ola {{nome}}</h1>

<h4>Você foi cadastrado com sucesso no sistema Amigos da rua. Para efetuar o primeiro acesso utilize o código <br> 
    <h1> {{hashCodigo}}</h1> <br>
    Acesse o link abaixo para efetuar seu primeiro acesso e cadastrar uma senha para acessos futuros <br>
     http://localhost/amigosDaRua/app_dev.php/login </h4>