<h1>Ola {{nome}}</h1>

<h3>voce esta recebendo esse email do amigos da rua </h3>
<h4>Acesse o link para redefinir sua senha: <br> http://localhost/amigosDaRua/app_dev.php/change/{{email}}/{{criptografia}} </h4>