<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../../../web/assets/css/menuBottom.css">
</head>
  <body>
    <div class="menuBottom">
      <a href="#">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="perfil">
          <i class="material-icons">person</i>
        </button>
      </a>

      <a href="#">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="add">
          <i class="material-icons">add</i>
        </button>
      </a>
      
      <a href="#">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="filters">
          <i class="material-icons">filter_list</i>
        </button>
      </a>
    </div>
</body>
